* {
    margin: 0;
    padding: 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    background-color: hsl(204, 43%, 93%);
    font-family: 'Karla', sans-serif;
}

main {
    width: 80%;
    margin: 0 auto;
    grid-template-areas:
        'principal'
        'secundary'
        'thirth';
    font-weight: 400;
}

#main {
    grid-area: principal;
    background-color: hsl(0, 0%, 100%);
}

#secundary {
    grid-area: secundary;
    background-color: hsl(179, 62%, 43%);
    color: white;
}

#thirth {
    grid-area: thirth;
    background-color: hsl(179, 61%, 48%);
    color: white;
}

#thirth ul {
    list-style: none;
}

.container {
    padding: 1rem;
}

h1 {
    font-size: 1.2rem;
}

#title {
    color: hsl(179, 62%, 43%);
}

#subtitle {
    color: hsl(71, 73%, 54%);
}

#description {
    color: hsl(218, 22%, 67%);
}

#description-quantity {
    color: hsl(204, 43%, 93%);
}
